canvas {
    margin: 0 auto;
}

#indicator-border {
    position:absolute;
    left: 0px;
    top: 250px;
    width: 40px;
    height: 250px;
    z-index: 0;
    border-style: solid;
    border-width: 2px;
    border-top-width: 10px;
    border-top-color: darkslateblue;
    border-bottom-width: 10px;
    border-bottom-color: red;
}

#indicator {
    position: absolute;
    left: 0px;
    top:250px;
    width:40px;
    height:250px;
    z-index: 100;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 15px;
}

#wing-text {
    position: absolute;
    left: 0px;
    top: 200px;
    visibility: visible;
    font: "Arial";
    font-size: 20;
    font-weight: bold;
    color: orangered;
    visibility: visible;
}

#wing-up-text {
    position: absolute;
    left: 45px;
    top: 250px;
    visibility: visible;
    font: "Arial";
    font-size: 16;
    font-weight: bold;
    font-style: oblique;
}

#wing-down-text {
    position: absolute;
    left: 45px;
    top: 480px;
    visibility: visible;
    font: "Arial";
    font-size: 16;
    font-weight: bold;
    font-style: oblique;
}