canvas {
    margin: 0 auto;
}

#position {
    position:absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 500px;
    z-index: 0;
}

#indicator {
    position: absolute;
    left:0px;
    top:0px;
    width:20px;
    height:250px;
    z-index: 100;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: thick;
}